.all-reviews {
  padding: 25px;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}

.all-reviews-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.all-reviews-header h3 {
  font-weight: 600;
  font-size: 20px;
}
h1.average {
  font-size: 35px;
  color: #212121;
  font-weight: 500;
}

p.rating-count {
  font-size: 16px;
  color: #878787;
}

.title_wrapper h1 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}
