ul.list-star li {
  display: flex;
  align-items: center;
}

span.star-number {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  width: 35px;
}

span.progress {
  display: inline-block;
  width: 150px;
  height: 5px;
  background: #ccc;
  margin: 0 10px;
  border-radius: 10px;
  position: relative;
}

span.star-value {
  margin-left: 17px;
  color: #878787;
  font-size: 14px;
}

span.progress span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0%;
  background: #388e3c;
  border-radius: 10px;
}
