.header {
  width: 100%;
  height: 56px;
  background-color: rgb(40, 116, 240);
}
.header__logo a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header__logo a > img {
  width: 80px;
}

span.header__logo__text {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  color: #fff;
}

span.header__logo__text span {
  color: #ffe500;
  margin-left: 3px;
}

span.header__logo__text img {
  width: 10px;
}

.header__search input {
  width: 470px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px 70px 12px 15px;
}

.header__search {
  position: relative;
  margin-left: 12px;
}

.header__search button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  cursor: pointer;
  width: 50px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__login {
  position: relative;
  margin-left: 50px;
}

.header__login button {
  border: none;
  padding: 7px;
  width: 120px;
  background: #fff;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  cursor: pointer;
  font-size: 16px;
  color: #2874f0;
  border-radius: 2px;
  font-weight: 600;
}

.header__login__menu {
  position: absolute;
  width: 235px;
  z-index: 120;
  left: -38px;
  padding: 10px;
  top: 33px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.header__login:hover .header__login__menu {
  opacity: 1;
  visibility: visible;
}

.header__login__menu__text {
  font-size: 14px;
  font-weight: 500;
}

.header__login__signup {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.header__login__signup strong {
  font-weight: 500;
}

.header__login__signup a {
  color: #2874f0;
  font-size: 15px;
  font-weight: 500;
}

button.more {
  width: 60px;
  background: transparent;
  color: #fff;
  box-shadow: none;
}

button.more.cart {
  width: 75px;
  display: flex;
  align-items: center;
}
