.login {
  display: flex;
  height: 528px;
}

.login__hero {
  width: 40%;
  padding: 30px;
  background-color: #2874f0;
  background-repeat: no-repeat;
  background-position: center 85%;
  background-image: url('../../images/login_image.png');
}

.login__hero h1 {
  color: #fff;
  font-weight: 500;
}

.login__main {
  width: 60%;
  position: relative;
  padding: 40px 30px;
}

.login__hero p {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  line-height: 26px;
}

button.login__btn {
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  color: #fff;
  background: #fb641b;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
}

p.policy {
  color: #878787;
  font-size: 12px;
  font-weight: 500;
  margin-top: 25px;
}

a.signup-link {
  position: absolute;
  bottom: 30px;
  /* display: block; */
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 600;
  color: #2874f0;
}
