.single-question {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.single-question:last-child {
  border: none;
}

p.single-question-que {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  margin-bottom: 8px;
}

.single-question-que span:nth-child(2) {
  color: #878787;
}

.single-question-ans {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

.single-question-ans span:nth-child(2) {
  font-weight: 500;
  color: #878787;
}

button.read-other-ans-btn {
  margin-top: 10px;
  border: none;
  background: transparent;
  outline: none;
  font-weight: 600;
  color: #2874f0;
  cursor: pointer;
}

.answer-ques {
  position: relative;
}

.answer-ques textarea {
  width: 100%;
  padding: 10px 70px 10px 15px;
  margin-top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  outline: none;
  font-family: 'Tahoma';
  height: 70px;
  resize: none;
}

.answer-ques button {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #2874f0;
  color: #fff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
